.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
}h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: monospace;
  color: #a0fea0;
}.wallet-section {
  margin-bottom: 60px;
  height: 10px;
}canvas {
  display: block;
  margin: 0 auto;
}.color-picker-container {
  display: flex;
  justify-content: center;
  width: 100px;
  height: fit-content;
}
.color-picker {
  height: 100%;
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 1px 1px 1px #c3c3c3;
}button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}button:hover {
  background-color: #45a049;
}.canvas-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
}.pixel-canvas {
  cursor: none;
}


 .canvas-wrapper {
   box-shadow: 4px 4px 8px rgba(35, 35, 35, 0.3), 2px 3px 3px rgba(41, 41, 41, 0.8);
   border: 2mm ridge #0c161f;
 }

 .scroll-container {
   box-shadow: 4px 4px 8px rgba(35, 35, 35, 0.3), 2px 3px 3px rgba(41, 41, 41, 0.8);
   border: 2mm ridge #0c161f;
   scrollbar-width: none; /* cache scrollbar */
   -ms-overflow-style: none; /* IE/Edge Legacy */
 }
/* Cibler la scrollbar */
.scroll-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Le "track" (fond de la scrollbar) */
.scroll-container::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Le "thumb" (la partie qu’on glisse) */
.scroll-container::-webkit-scrollbar-thumb {
  background: #2f0453;
  border-radius: 10px;
  border: 3px solid white;
}

/* Au hover */
.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
